.NavBar {
  background-color: #282c34;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  transition: transform 0.3s;
  border-radius: 50%;
}

.logo:hover {
  transform: scale(1.1);
}

.navbar-text {
  color: #61dafb;
  font-size: 1rem;
  margin-right: 1rem;
}

.nav-link {
  color: #61dafb !important;
  transition: color 0.3s, transform 0.3s;
}

.nav-link:hover {
  color: #21a1f1 !important;
  transform: scale(1.1);
}

.btn-link {
  color: #61dafb;
}

.btn-link:hover {
  color: #21a1f1;
}

.welcome-message {
  color: #61dafb;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .navbar-nav {
    text-align: center;
  }

  .nav-link,
  .logout-button,
  .welcome-message {
    width: 100%;
    padding: 0.5rem 0;
  }
}
